@import "../../sass/main.scss";

.button {
  background-color: $color-secondary;
  color: $color-text-button;
  padding: 1.5rem 2.5rem;
  border-radius: 0.8rem;
  display: inline-block;
  position: relative;
  text-align: center;

  font-weight: 700;
  text-transform: uppercase;
}
